@charset "UTF-8";
/* @mixin menus {
  width: 20%;
  height: 17rem;
  box-shadow: 0 0 1em grey;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
} */
.header {
  background-color: #579c87;
  width: 100%; }
  .header h1 {
    color: #fbc945;
    font-size: 2rem;
    text-align: center; }

.footer {
  background-color: #579c87;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  position: fixed;
  bottom: 0; }
  .footer a {
    color: #fbc945;
    font-size: 1.5rem;
    text-decoration: none; }
    .footer a:hover {
      animation: shakeLink 200ms;
      animation-iteration-count: infinite; }

/* Animation wiggle sur liens */
@keyframes shakeLink {
  25% {
    transform: translateX(2%); }
  75% {
    transform: translateX(-2%); } }
.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  align-items: center;
  justify-content: center;
  /* border:1px solid pink; A SUPPRIMER */
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  /* A modifier pour centrer plus tard */ }
  .main h2 {
    text-align: center; }
  .main .prochainement {
    text-align: center;
    font-size: 10rem;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden; }
    .main .prochainement .p1 {
      animation-name: prochainement1;
      animation-duration: 2.5s;
      animation-iteration-count: infinite; }
    .main .prochainement .p2 {
      animation-name: prochainement2;
      animation-duration: 2.5s;
      animation-iteration-count: infinite; }
    .main .prochainement .p3 {
      animation-name: prochainement3;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards; }

@keyframes prochainement1 {
  0% {
    visibility: hidden; }
  20% {
    visibility: visible; }
  40% {
    visibility: visible; }
  60% {
    visibility: hidden; }
  80% {
    visibility: hidden; }
  90% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }
@keyframes prochainement2 {
  0% {
    visibility: hidden; }
  20% {
    visibility: hidden; }
  40% {
    visibility: visible; }
  60% {
    visibility: visible; }
  80% {
    visibility: hidden; }
  90% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }
@keyframes prochainement3 {
  0% {
    visibility: hidden; }
  20% {
    visibility: hidden; }
  40% {
    visibility: hidden; }
  60% {
    visibility: visible; }
  80% {
    visibility: visible; }
  100% {
    visibility: visible; } }
/* A GARDER SI JAMAIS ON DOIT UTILISER LES MENUS REFAITS
.menu1 {
  @include menus;
  background-color: #fcdfdb;
  transition: transform 1s;
  transform: scale(1);
  &:hover {
    transform: scale(1.5);
  }
}
.menu2 {
  @include menus;
  background-color: #faf0f9;
}
.menu3 {
  @include menus;
  background-color: #f9f9f9;
}
.menu4 {
  @include menus;
  background-color: white;
}
*/
.menu img {
  max-width: 15rem;
  max-height: 19rem;
  transform: scale(1);
  transition: transform 1s;
  margin: auto;
  box-shadow: 0 0 0.7em grey; }
  .menu img:hover {
    transform: scale(1.2); }

.menu1 {
  width: 50%;
  padding: 2rem;
  margin: auto;
  background-color: #fcdfdb;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .menu1 h3 {
    text-align: center;
    background: linear-gradient(to top, black 0%, black 3px, transparent 4px) no-repeat;
    background-size: 0% 100%;
    transition: background-size 300ms; }
    .menu1 h3:hover {
      background-size: 100% 100%; }
  .menu1 .ligne {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0; }
  .menu1 > p {
    text-align: center; }

.conteneurMenu {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  /*margin-bottom: 2rem;*/
  /* border:1px solid black;  A SUPPRIMER */ }
  .conteneurMenu a {
    color: #fbc945;
    text-decoration: none;
    transform: scale(1);
    transition: transform 1s;
    margin-right: 2rem; }
    .conteneurMenu a:hover {
      transform: scale(1.1); }
  .conteneurMenu__conteneurLien {
    background-color: #579c87;
    width: 18rem;
    height: 3rem;
    font-size: 2.4rem;
    line-height: 3rem;
    border-radius: 0.4rem;
    text-align: center; }
  @media all and (max-width: 1000px) {
    .conteneurMenu {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 0; }
      .conteneurMenu a {
        margin-bottom: 3rem;
        display: block; } }

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-sizing: border-box;
  height: 100vh;
  /* A SUPPRIMER, utilisé pour mise en place */ }

/*# sourceMappingURL=default.css.map */
