@charset "UTF-8";
/* Menu 1 */
/* Menu 2 */
/* Menu 3 */
/* Menu 4 */
/* Police du titre OMF */
@font-face {
  font-family: "OMF";
  src: url("../Polices/OMF.ttf"); }
/* Contenu de tous les menus */
@font-face {
  font-family: "contenuMenu";
  src: url("../Polices/contenuMenu.ttf"); }
/* Polices du menu 1 */
@font-face {
  font-family: "titreMenu1";
  src: url("../Polices/Menu1/titreMenu1.ttf"); }
@font-face {
  font-family: "menu1";
  src: url("../Polices/Menu1/menu1.ttf"); }
/* Polices du menu 2 */
@font-face {
  font-family: "titreMenu2";
  src: url("../Polices/Menu2/titreMenu2.ttf"); }
@font-face {
  font-family: "menu2";
  src: url("../Polices/Menu2/menu2.ttf"); }
/* Polices du menu 3 */
@font-face {
  font-family: "titreMenu3";
  src: url("../Polices/Menu3/titreMenu3.ttf"); }
@font-face {
  font-family: "menu3";
  src: url("../Polices/Menu3/menu3.ttf"); }
/* Polices du menu 4 */
@font-face {
  font-family: "titreMenu4";
  src: url("../Polices/Menu4/titreMenu4.ttf"); }
@font-face {
  font-family: "menu4";
  src: url("../Polices/Menu4/menu4.ttf"); }
/* Mixin gestion des previews des menus */
/* Mixin des menus (dans leur page de présentation) */
/* Animation prochainement dans index.html */
@keyframes prochainement1 {
  0% {
    visibility: hidden; }
  20% {
    visibility: visible; }
  40% {
    visibility: visible; }
  60% {
    visibility: hidden; }
  80% {
    visibility: hidden; }
  90% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }
@keyframes prochainement2 {
  0% {
    visibility: hidden; }
  20% {
    visibility: hidden; }
  40% {
    visibility: visible; }
  60% {
    visibility: visible; }
  80% {
    visibility: hidden; }
  90% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }
@keyframes prochainement3 {
  0% {
    visibility: hidden; }
  20% {
    visibility: hidden; }
  40% {
    visibility: hidden; }
  60% {
    visibility: visible; }
  80% {
    visibility: visible; }
  100% {
    visibility: visible; } }
.header {
  background-color: #579c87;
  width: 100%; }
  .header h1 {
    color: #fbc945;
    font-size: 3rem;
    text-align: center;
    font-family: "OMF", Arial, serif;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem; }
    .header h1 a {
      text-decoration: none;
      color: #fbc945; }

.footer {
  background-color: #579c87;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  bottom: 0; }
  .footer a {
    color: #fbc945;
    font-size: 1.5rem;
    text-decoration: none; }
    .footer a:hover {
      animation: shakeLink 200ms;
      animation-iteration-count: infinite; }

/* Animation wiggle sur liens */
@keyframes shakeLink {
  25% {
    transform: translateX(2%); }
  75% {
    transform: translateX(-2%); } }
.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 0.7rem; }
  .main h2 {
    text-align: center; }
  .main .prochainement {
    text-align: center;
    font-size: 2.4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    visibility: hidden;
    color: #fbc945; }
    .main .prochainement .p1 {
      animation-name: prochainement1;
      animation-duration: 2.5s;
      animation-iteration-count: infinite; }
    .main .prochainement .p2 {
      animation-name: prochainement2;
      animation-duration: 2.5s;
      animation-iteration-count: infinite; }
    .main .prochainement .p3 {
      animation-name: prochainement3;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards; }

/* ------- Gère affichage des menus dans leur page ------ */
.menu1 {
  width: 50%;
  /*padding:1.5rem;*/
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin-top:2rem;*/
  background-color: #fcdfdb;
  margin-top: 0;
  padding-top: 1rem;
  color: #3d1319;
  font-family: "contenuMenu", Arial, serif; }
  .menu1 h2 {
    background: linear-gradient(to right, #3d1319 0%, #3d1319 100%);
    font-size: 3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu1 h3 {
    background: linear-gradient(to top, #3d1319 0%, #3d1319 2px, transparent 3px) no-repeat;
    background-size: 0% 100%;
    transition: background-size 300ms; }
    .menu1 h3:hover {
      background-size: 100% 100%; }
  .menu1 .ligne {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0; }
  .menu1 > p {
    text-align: center; }
  .menu1 img {
    width: 3rem;
    height: 3rem; }
  .menu1 .titreCatMenu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .menu1 .titreCatMenu img {
      width: 35%;
      height: 9px; }
  @media all and (max-width: 1500px) {
    .menu1 {
      width: 70%; }
      .menu1 .titreCatMenu h3 {
        margin: auto;
        text-align: center; } }
  @media all and (max-width: 750px) {
    .menu1 {
      width: 85%; }
      .menu1 .titreCatMenu {
        margin-top: 1rem; }
        .menu1 .titreCatMenu h3 {
          margin: auto;
          text-align: center; }
        .menu1 .titreCatMenu img {
          display: none; }
      .menu1 .ligne {
        flex-direction: column; } }
  .menu1 .ligne {
    width: 85%; }
    .menu1 .ligne p {
      font-size: 0.9rem; }
    .menu1 .ligne h3 {
      font-size: 2rem; }
  .menu1 .titreCatMenu {
    width: 80%;
    text-align: center; }
  .menu1 .footerMenu {
    display: flex;
    align-items: center; }
    .menu1 .footerMenu img {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 0.5rem; }
    .menu1 .footerMenu .footerMenu1 {
      font-family: "titreMenu1", Arial, serif;
      font-size: 1.7rem; }
  .menu1 .enTeteMenu1 {
    font-family: "titreMenu1", Arial, serif;
    font-size: 2.5rem;
    margin-bottom: 1rem; }

.menu2 {
  width: 50%;
  /*padding:1.5rem;*/
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin-top:2rem;*/
  background-color: #faf0f9; }
  .menu2 h2 {
    background: linear-gradient(to right, #e38a12 0%, #8e5afe 100%);
    font-size: 3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu2 h3 {
    background: linear-gradient(to top, #c67412 0%, #c67412 2px, transparent 3px) no-repeat;
    background-size: 0% 100%;
    transition: background-size 300ms; }
    .menu2 h3:hover {
      background-size: 100% 100%; }
  .menu2 .ligne {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0; }
  .menu2 > p {
    text-align: center; }
  .menu2 img {
    width: 3rem;
    height: 3rem; }
  .menu2 .titreCatMenu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .menu2 .titreCatMenu img {
      width: 35%;
      height: 9px; }
  @media all and (max-width: 1500px) {
    .menu2 {
      width: 70%; }
      .menu2 .titreCatMenu h3 {
        margin: auto;
        text-align: center; } }
  @media all and (max-width: 750px) {
    .menu2 {
      width: 85%; }
      .menu2 .titreCatMenu {
        margin-top: 1rem; }
        .menu2 .titreCatMenu h3 {
          margin: auto;
          text-align: center; }
        .menu2 .titreCatMenu img {
          display: none; }
      .menu2 .ligne {
        flex-direction: column; } }
  .menu2 h2 {
    font-family: "titreMenu2", Arial, serif; }
  .menu2 .titreCatMenu {
    width: 90%; }
  .menu2 .p1 {
    color: #c67412; }
  .menu2 .p2 {
    color: purple; }
  .menu2 .p3 {
    color: darkblue; }
  .menu2 .t1 {
    background: linear-gradient(to top, #c67412 0%, #c67412 2px, transparent 3px) no-repeat; }
  .menu2 .t2 {
    background: linear-gradient(to top, purple 0%, purple 2px, transparent 3px) no-repeat; }
  .menu2 .t3 {
    background: linear-gradient(to top, darkblue 0%, darkblue 2px, transparent 3px) no-repeat; }
  .menu2 .t1, .menu2 .t2, .menu2 .t3 {
    background-size: 0% 100%;
    transition: background-size 300ms; }
    .menu2 .t1:hover, .menu2 .t2:hover, .menu2 .t3:hover {
      background-size: 100% 100%; }

.menu3 {
  width: 50%;
  /*padding:1.5rem;*/
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin-top:2rem;*/
  background-color: #edefef;
  color: black;
  font-family: "contenuMenu", Arial, serif; }
  .menu3 h2 {
    background: linear-gradient(to right, #0127dc 0%, #0881ec 100%);
    font-size: 3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu3 h3 {
    background: linear-gradient(to top, black 0%, black 2px, transparent 3px) no-repeat;
    background-size: 0% 100%;
    transition: background-size 300ms; }
    .menu3 h3:hover {
      background-size: 100% 100%; }
  .menu3 .ligne {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0; }
  .menu3 > p {
    text-align: center; }
  .menu3 img {
    width: 3rem;
    height: 3rem; }
  .menu3 .titreCatMenu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .menu3 .titreCatMenu img {
      width: 35%;
      height: 9px; }
  @media all and (max-width: 1500px) {
    .menu3 {
      width: 70%; }
      .menu3 .titreCatMenu h3 {
        margin: auto;
        text-align: center; } }
  @media all and (max-width: 750px) {
    .menu3 {
      width: 85%; }
      .menu3 .titreCatMenu {
        margin-top: 1rem; }
        .menu3 .titreCatMenu h3 {
          margin: auto;
          text-align: center; }
        .menu3 .titreCatMenu img {
          display: none; }
      .menu3 .ligne {
        flex-direction: column; } }
  .menu3 h2 {
    font-family: "titreMenu3", Arial, serif;
    font-size: 4rem; }
  .menu3 .titreCatMenu {
    width: 90%;
    font-size: 0.9rem; }

.menu4 {
  width: 50%;
  /*padding:1.5rem;*/
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin-top:2rem;*/
  background-color: #fdfffd;
  font-family: "contenuMenu", Arial, serif;
  font-size: 0.9rem; }
  .menu4 h2 {
    background: linear-gradient(to right, #43973d 0%, #beff7f 100%);
    font-size: 3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu4 h3 {
    background: linear-gradient(to top, black 0%, black 2px, transparent 3px) no-repeat;
    background-size: 0% 100%;
    transition: background-size 300ms; }
    .menu4 h3:hover {
      background-size: 100% 100%; }
  .menu4 .ligne {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0; }
  .menu4 > p {
    text-align: center; }
  .menu4 img {
    width: 3rem;
    height: 3rem; }
  .menu4 .titreCatMenu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .menu4 .titreCatMenu img {
      width: 35%;
      height: 9px; }
  @media all and (max-width: 1500px) {
    .menu4 {
      width: 70%; }
      .menu4 .titreCatMenu h3 {
        margin: auto;
        text-align: center; } }
  @media all and (max-width: 750px) {
    .menu4 {
      width: 85%; }
      .menu4 .titreCatMenu {
        margin-top: 1rem; }
        .menu4 .titreCatMenu h3 {
          margin: auto;
          text-align: center; }
        .menu4 .titreCatMenu img {
          display: none; }
      .menu4 .ligne {
        flex-direction: column; } }
  .menu4 .ligne {
    width: 75%; }
  .menu4 .titreCatMenu {
    width: 90%; }

/* Affichage des menus dans menusX.html */
/* Gère les aperçus des menus dans index.html */
.menu1preview {
  width: 22%;
  height: 20rem;
  box-shadow: 0 0 1em grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcdfdb;
  margin-right: 2rem; }
  .menu1preview img {
    width: 2rem;
    height: 2rem;
    margin: auto; }
  .menu1preview a {
    text-align: center;
    text-decoration: none;
    line-height: 3rem; }
  .menu1preview .menupreview__contenu {
    margin: auto;
    text-align: center;
    transform: scaleX(1);
    transition: transform 500ms;
    font-size: 1.3rem; }
    .menu1preview .menupreview__contenu a {
      width: 100%;
      height: 100%; }
    .menu1preview .menupreview__contenu:hover {
      transform: scale(1.2); }
    .menu1preview .menupreview__contenu .titre {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  @media all and (max-width: 1500px) {
    .menu1preview {
      width: 20%;
      margin-bottom: 2rem; } }
  @media all and (max-width: 750px) {
    .menu1preview {
      width: 63%;
      margin-bottom: 2rem; } }
  .menu1preview .titreMenu1 {
    font-family: "titreMenu1", Arial, serif;
    color: #3d1319; }
  .menu1preview a {
    color: #3d1319;
    font-family: "menu1", Arial, serif;
    font-style: italic; }

.menu2preview {
  width: 22%;
  height: 20rem;
  box-shadow: 0 0 1em grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faf0f9; }
  .menu2preview img {
    width: 2rem;
    height: 2rem;
    margin: auto; }
  .menu2preview a {
    text-align: center;
    text-decoration: none;
    line-height: 3rem; }
  .menu2preview .menupreview__contenu {
    margin: auto;
    text-align: center;
    transform: scaleX(1);
    transition: transform 500ms;
    font-size: 1.3rem; }
    .menu2preview .menupreview__contenu a {
      width: 100%;
      height: 100%; }
    .menu2preview .menupreview__contenu:hover {
      transform: scale(1.2); }
    .menu2preview .menupreview__contenu .titre {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  @media all and (max-width: 1500px) {
    .menu2preview {
      width: 20%;
      margin-bottom: 2rem; } }
  @media all and (max-width: 750px) {
    .menu2preview {
      width: 63%;
      margin-bottom: 2rem; } }
  .menu2preview .titre {
    background: linear-gradient(to right, #e38a12 0%, #8e5afe 100%);
    font-family: "titreMenu2", Arial, serif;
    font-size: 1rem; }
  .menu2preview a {
    font-family: "menu2", Arial, serif;
    font-size: 1.5rem; }
  .menu2preview .MenuMenu2 {
    color: #e38a12; }

.menu3preview {
  width: 22%;
  height: 20rem;
  box-shadow: 0 0 1em grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  background-color: #edefef; }
  .menu3preview img {
    width: 2rem;
    height: 2rem;
    margin: auto; }
  .menu3preview a {
    text-align: center;
    text-decoration: none;
    line-height: 3rem; }
  .menu3preview .menupreview__contenu {
    margin: auto;
    text-align: center;
    transform: scaleX(1);
    transition: transform 500ms;
    font-size: 1.3rem; }
    .menu3preview .menupreview__contenu a {
      width: 100%;
      height: 100%; }
    .menu3preview .menupreview__contenu:hover {
      transform: scale(1.2); }
    .menu3preview .menupreview__contenu .titre {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  @media all and (max-width: 1500px) {
    .menu3preview {
      width: 20%;
      margin-bottom: 2rem; } }
  @media all and (max-width: 750px) {
    .menu3preview {
      width: 63%;
      margin-bottom: 2rem; } }
  .menu3preview .titre {
    background: linear-gradient(to right, #0127dc 0%, #0881ec 100%);
    font-family: "titreMenu3", Arial, serif;
    font-size: 1.7rem; }
  .menu3preview a {
    font-family: "menu3", Arial, serif;
    font-style: italic;
    font-size: 2rem; }
  .menu3preview .MenuMenu3 {
    color: #0881ec; }

.menu4preview {
  width: 22%;
  height: 20rem;
  box-shadow: 0 0 1em grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdfffd; }
  .menu4preview img {
    width: 2rem;
    height: 2rem;
    margin: auto; }
  .menu4preview a {
    text-align: center;
    text-decoration: none;
    line-height: 3rem; }
  .menu4preview .menupreview__contenu {
    margin: auto;
    text-align: center;
    transform: scaleX(1);
    transition: transform 500ms;
    font-size: 1.3rem; }
    .menu4preview .menupreview__contenu a {
      width: 100%;
      height: 100%; }
    .menu4preview .menupreview__contenu:hover {
      transform: scale(1.2); }
    .menu4preview .menupreview__contenu .titre {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  @media all and (max-width: 1500px) {
    .menu4preview {
      width: 20%;
      margin-bottom: 2rem; } }
  @media all and (max-width: 750px) {
    .menu4preview {
      width: 63%;
      margin-bottom: 2rem; } }
  .menu4preview .titre {
    background: linear-gradient(to right, #43973d 0%, #beff7f 100%);
    font-family: "titreMenu4", Arial, serif;
    font-size: 1.7rem; }
  .menu4preview a {
    font-family: "menu4", Arial, serif;
    font-style: italic;
    font-size: 2rem; }
  .menu4preview .MenuMenu4 {
    color: #43973d; }

.menu img {
  max-width: 15rem;
  max-height: 19rem;
  transform: scale(1);
  transition: transform 1s;
  margin: auto;
  box-shadow: 0 0 0.7em grey; }
  .menu img:hover {
    transform: scale(1.2); }

/* Affichage des previews de menus */
.conteneurMenu {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }
  .conteneurMenu__prochainement {
    background-color: #579c87;
    width: 20rem;
    height: 3rem;
    font-size: 2.4rem;
    line-height: 3rem;
    border-radius: 0.4rem;
    color: #fbc945;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex; }

.noMarginMenu {
  margin-bottom: 0; }

/* Conteneurs des menus dans index.html */
/* Reste du responsive (menus et previews) sont directement dans les mixins ! */
@media all and (max-width: 1500px) {
  .conteneurMenu {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; }
    .conteneurMenu a {
      margin-bottom: 3rem;
      display: block; }

  .main {
    width: 100%; } }
@media all and (max-width: 750px) {
  .conteneurMenu {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem; }
    .conteneurMenu a {
      margin-bottom: 3rem;
      display: block; }
    .conteneurMenu__prochainement {
      width: 15rem;
      height: 2.5rem;
      font-size: 2.0rem;
      line-height: 2.5rem;
      border-radius: 0.4rem; }

  .main {
    width: 100%;
    margin-top: 2rem; }

  .menu1preview, .menu3preview {
    margin-right: 0; }

  .footer a {
    font-size: 1.2rem; }

  .menu1 .enTeteMenu1 {
    font-size: 2rem; } }
/* Import le design responsive */
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-sizing: border-box;
  height: 100vh;
  /* A SUPPRIMER, utilisé pour mise en place */ }

/*# sourceMappingURL=default.css.map */
