@import "./Utils/variables";
@import "./Utils/polices";
@import "./Utils/mixins";
@import "./Utils/animations";

@import "./Layouts/header";
@import "./Layouts/footer";
@import "./Layouts/main";
@import "./Layouts/menus"; /* Affichage des menus dans menusX.html */
@import "./Layouts/menuspreviews"; /* Affichage des previews de menus */
@import "./Layouts/conteneurMenus"; /* Conteneurs des menus dans index.html */
@import "./Layouts/responsive"; /* Import le design responsive */

body{
  display:flex;
  flex-direction: column;
  margin:auto;
  box-sizing: border-box;
}
