/* Contenu de tous les menus */
@font-face {
  font-family: "contenuMenu";
  src: url("../Polices/contenuMenu.ttf");
}
/* Polices du menu 1 */
@font-face {
  font-family: "titreMenu1";
  src: url("../Polices/Menu1/titreMenu1.ttf");
}
/* Polices du menu 2 */
@font-face {
  font-family: "titreMenu2";
  src: url("../Polices/Menu2/titreMenu2.ttf");
}
/* Polices du menu 3 */
@font-face {
  font-family: "titreMenu3";
  src: url("../Polices/Menu3/titreMenu3.ttf");
}
/* Polices du menu 4 */
@font-face {
  font-family: "titreMenu4";
  src: url("../Polices/Menu3/titreMenu3.ttf");
}
