.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  /* border:1px solid pink; A SUPPRIMER */
  margin-left:auto;
  margin-right:auto;
  margin-top:2rem; /* A modifier pour centrer plus tard */
}
