.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top:0.7rem;
  h2 {
    text-align: center;
  }
  .prochainement {
    text-align: center;
    font-size: 2.4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    visibility: hidden;
    color:$ftColor;
    .p1 {
      animation-name: prochainement1;
      @include AnimProchainement;
    }
    .p2 {
      animation-name: prochainement2;
      @include AnimProchainement;
    }
    .p3 {
      animation-name: prochainement3;
      @include AnimProchainement;
      animation-fill-mode: forwards;
    }
  }
}
