/* ------- Gère affichage des menus dans leur page ------ */
.menu1 {
  @include menu($ftColorMenu1, $ftColorMenu1,black,black,black);
  background-color: $bckColorMenu1;
  margin-top:0;
  .ligne {
    width:85%;
  }
  .titreCatMenu {
    width: 80%;
  }
  .footerMenu {
    display: flex;
    img {
      width: 2.2rem;
      height:2.2rem;
    }
  }
}
.menu2 {
  @include menu(#e38a12,#8e5afe,black,black,black);
  background-color: #faf0f9;
  .titreCatMenu {
    width: 90%;
  }
}
.menu3 {
  @include menu(#0127dc,#0881ec,black,black,black);
  background-color: #edefef;
  .titreCatMenu {
    width: 90%;
  }
}
.menu4 {
  @include menu(#43973d,#beff7f,black,black,black);
  background-color: #fdfffd;
  .ligne {
    width:75%;
  }
  .titreCatMenu {
    width: 90%;
  }
}
