/* A GARDER SI JAMAIS ON DOIT UTILISER LES MENUS REFAITS
.menu1 {
  @include menus;
  background-color: #fcdfdb;
  transition: transform 1s;
  transform: scale(1);
  &:hover {
    transform: scale(1.5);
  }
}
.menu2 {
  @include menus;
  background-color: #faf0f9;
}
.menu3 {
  @include menus;
  background-color: #f9f9f9;
}
.menu4 {
  @include menus;
  background-color: white;
}
*/

.menu img {
  max-width: 15rem;
  max-height: 19rem;
  transform: scale(1);
  transition: transform 1s;
  margin:auto;
  box-shadow: 0 0 0.7em grey;
  &:hover {
    transform: scale(1.2);
  }
}

.menu1 {
  width:50%;
  padding:2rem;
  margin:auto;
  background-color: $bckColorMenu1;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    text-align: center;
    background: linear-gradient(to top, black 0%, black 3px, transparent 4px) no-repeat;
    background-size: 0% 100%;
    transition: background-size 300ms;
    &:hover {
      background-size: 100% 100%;
    }
  }
  .ligne {
    width:85%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0
  }
  >p {
    text-align: center;
  }
}
